<!-- <a href="{% url 'stocks_names' %}">All Stocks</a>
check 1 stock history <br>
<form action = "" method = "post">
	{% csrf_token %}
    <label for="stock_id">stock_id: </label>
    <input id="stock_id" type="text" name="stock_id">
    <input type="submit" value="OK">
</form> -->

<h1> Dashboard </h1>

<nav>
    <span id="hello-msg"> Hello, {{request.user}} </span>
    <span> <a href="{% url 'logout' %}"> Logout </a> </span>
    <span> <a href="{% url 'deregister' %}"> Deregister </a> </span>    
</nav>