<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Stock History</title>
  <link rel="stylesheet" href="https://unpkg.com/@picocss/pico@latest/css/pico.min.css">
</head>

<body>
  <main class="container">
    <section style="margin-bottom: 1.5rem;">
      <hgroup>
        <h2>Stock Prediction</h2>
      </hgroup>
    </section>
    <div class="grid" style="margin-bottom: 1.5rem;">
      <canvas id="myChart" width="100%"></canvas>
    </div>

    </div>
  </main>

  <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

  <script>
    

    const ctx = document.getElementById('myChart').getContext('2d');
    const myChart = new Chart(ctx, {
      type: 'line',
      data: {
        labels: [{% for item in dates %}"{{ item }}",{% endfor %}],
        datasets: [{
          label: "Stock Prediction for {{stock_id}}",
          data: [{% for item in prices %}{{ item }}, {% endfor %}],
          backgroundColor: 'rgba(75, 192, 19, 0.2)',
          borderColor: 'rgba(75, 192, 19, 1)',
          borderWidth: 1
        }
        ]
      },
      options: {
        plugins: {
          title: {
            display: true,
            text: 'Graph: Stock Prediction',
            font: {
              style: 'normal',
              lineHeight: 1.2,
              size: 18,
            },
          }
        },
        scales: {
          y: {
            beginAtZero: false,
            display: true,
            title: {
              display: true,
              text: 'Stock Prediction ($)',
              font: {
                style: 'normal',
                lineHeight: 1.2
              },
              padding: { top: 0, left: 0, right: 0, bottom: 5 }
            }
          },
          x: {
            beginAtZero: true,
            display: true,
            title: {
              display: true,
              text: 'Date',
              font: {
                style: 'normal',
                lineHeight: 1.2
              },
              padding: { top: 5, left: 0, right: 0, bottom: 0 }
            }
          }
        }
      }
    });

  </script>
</body>
</html>
